body,
html {
    -webkit-app-region: drag;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.button,
input {
    -webkit-app-region: no-drag;
}

/* 
.caozuo_btn a {
    -webkit-app-region: no-drag;
    background: green;
    color: #fff;
    text-decoration: none;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50px;
    line-height: 100px;
    text-align: center;
    margin: 0 10px;
}

a.openbtn {
    background: red;
}

.caozuo_btn {
    height: auto;

}

.status_p {
    padding: 10px;
    color: grey;

    top: 0;
}

.status_p em {
    color: khaki;
}
input
{
    outline: none;
    padding: 5px 10px;
}
button{
    height: 30px;
    line-height: 30px;

    outline: none;
} */
.row {
    flex-direction: row;
}

.button_wrap {
    text-align: center;
}

.binform {
    display: none;
}

.yourphone,
.status_p {
    text-align: center;
}